#bag{
  width:700px;
  height:500px;
  margin:0 auto;
  background: url(/images/bag.png) center no-repeat;
  background-size: 50%;
}


#health_bar{
  width: 300px;
  border:5px solid #000;
  margin:0 auto 20px auto;

}


#health_bar div{
  height:20px;
  background:crimson;
}

#controls{
  width:200px;
  height:65px;

  margin:0 auto;
  color:#fff;
  display: flex;






}

#controls button:hover{
  background-color: #444;
  border-bottom-color: #ff5858;
}
